
h1{
  color:rgb(36, 7, 131) ;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  text-align: center;
  background-color:rgb(143, 142, 142);
  border-radius:10px ;
  padding: 20px; 
  /* new */
  font-weight: bold;
  margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    /* end new */
  }
    #nav{
      background-color: rgb(245, 220, 60);
      border-radius: 10px;
  }
  #nav ul{
      text-align: center;
      text-decoration:rgb(36, 7, 131) ;
      padding: 20px;
  }
  #nav ul a{
      padding: 10px;
  }

  #footer{
      text-align: center;
      text-decoration:rgb(36, 7, 131) ;
      text-align: center;
      background-color:rgb(143, 142, 142);
      border-radius: 10px;
      padding: 10px;}

    
/* About us Style Sheet */

#about_p_tag { 
    color: rgb(109, 107, 107); 
    text-align: center;
}

.card-text{ color:rgb(109, 107, 107);
}

#card_h3 { 
    color: rgb(36, 7, 131);
    font-size: 1.5rem;
    text-align: center;
}

#about_h2 { 
    color: rgb(36, 7, 131);
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#card_p { 
    color: rgb(22, 4, 63);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    text-align: center;  
}

.card { width: 200px;
    margin-left: 50px;
}

.card-img-top { 
    width: 200px;
    margin-left: 2px;

}

#first_col_sec { 
    color: rgb(18, 4, 67);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

#second_col_sec { 
    color: rgb(18, 4, 67);
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.container_pic { 
    display: block; 
    width: 10%;
    margin: auto;
    padding: 0;
}
/*
.story_pic {
    display: block; 
    width: 6%;
    margin: auto;
    align-items: center;
}
*/
.about_container { align-items: center;}

.parallax {
    /* The image used */
    background-image: url("../images/background\ 2.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Home page style sheet */

  
